* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  text-decoration: underline rgb(0, 0, 0) 5px;
}

body{
  background-color: rgb(151, 255, 148);
  background-image: url(https://lh3.googleusercontent.com/qoS3CO9lBGKpFnUN0Cwp6LaT1zLyLO6Jg_Obok5mbP2GuHvCSoUNP5fBOgCdd_8sCCKH9iY-KUprJC4lwuGT4aMjZ0ihhs8UK_OoqACog7i5FKOYm8E5t6U5Q_pMl_uU_axtPbVZhM7VeZK7OMy-UaMOmeHjtqXraiEteesJAkGABl4m71fyP1HtuTxJ7Y4KS_oSd5DWmzEs9mzIrPxK9uUXyBnhJD_zxJTEkq0WNaYD3txiRg-29Iczaum98KDMUMGDVWOLPbFq99oWo0OA7mTqM4sOhkRalsEO8UqDGcgH8n5R0lUj5CPwKsTXR9T7RAEXHb7h8_-_6oJev1EXMP2i7oKs-WFt7dcx7nUW051RnvCcbQt3LdZR5KU5SPHsKZQH3GPO4F12C6ywswt0o69d8oR2IiLiCwGq8D-QF-FFlwamOhZLwGXNNO3pGoUaPdBADkLWTX8lxuLw8i7bEffIuD6MCEiB5bAJTZQaqFHE_pxKlAKVZJYEIK91X-jZ-c6qKhZDk7ZwbSj6ycrzFZ8pGUrZoLZ7nQismY2zexQl4p-lvWeqRDpozcI0E_aM1-2_3pgUlazotA9nUb9OJ5nuS4niOXUHZAXdcCjJn0iq3RDWJOg6j3Vm8acnBDccyi-RjzAmTaOoZCBwWh18pW078x0Fl04CRgcli4RpgGS2gmYZWwaR_KN9HBR6Fl1U9b4N0RfT4WYHhiRyI_2hvdeWN5wmYcxYeimGpNYcrvu3uhaubVrEeLnxn1Yf3g=w197-h205-no?authuser=0);
  background-size: 80px;
}

.inputs-and-button {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 80px;
  padding-bottom: 75px;
  border-radius: 7px;
  box-shadow: 12px 12px 0px  rgb(0, 0, 0);
}

.inputs-container {
  display: flex;
  margin-bottom: 20px;
  /* background-color: aqua; */
}

#input-minutes, #input-seconds {
  background-color: white;
  font-size: large;
  padding: 5px;
}

.container-minutes {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.container-seconds {
  display: flex;
  align-items: center;
}

input {
  margin-left: 10px;
  border-color: rgb(0, 172, 252);
  border-radius: 5px;
  border: solid rgb(0, 0, 0) 2px;
  background-color: rgb(255, 252, 91);
}


.start-button, .cancel-button {
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: none; 
  font-size: large;
  margin-top: 20px;
  width: 300px;
  height: 60px;
}

.start-button:enabled {
  background-color: black;
}

.start-button:disabled {
  background-color: rgb(197, 197, 197);
}

.cancel-button:hover,.start-button:enabled:hover {
  outline: double 6px rgb(0, 0, 0);
}

/* TIMER */
.cancel-button {
  background-color: rgb(0, 0, 0);
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 60px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 10px;
  padding-bottom: 60px;
  border-radius: 7px;
}

h1 {
  font-size: 80px;
}

.despertador-image {
  width: 80%;
}